/.idea/
/example/docker/.env
/auth-service/src/main/resources/rsa.jwk
/development-environment/kubernetes/.dockerconfigjson
/development-environment/kubernetes/registry-secret.yaml
/observation-and-monitoring/
/erd_ecommerce_database.png
/Untitled.png
/example/init/users-and-database.sql
/draft/
/example/kubernetes/ghcr-secret.yaml
/development-environment/docker/init.sql
/kafka/
*ghcr-secret.yml
